@import url('https://fonts.googleapis.com/css2? family= Shrikhand & display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

*,
::before,
::after {
    box-sizing: border-box;
    
}
body{
    font-family: "Roboto", sans-serif;
    margin: 0px;
   
}
header{
    font-family: "Shrikhand", cursive;
    text-align: center;
    font-weight: 400;   
    border: 1px;       
    box-shadow: 1px 2px 2px 1px grey; 
      
}

main .ville{
    text-align: center;
}