@import url('https://fonts.googleapis.com/css2? family= Shrikhand & display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

*,
::before,
::after {
    box-sizing: border-box; 
    margin: 0%;
    max-width: 100%;
    
}
body{
    font-family: "Roboto", sans-serif;
       
}
header{
    font-family: "Shrikhand", cursive;
    font-weight: 400;  
    border: 2px;     
    box-shadow: 0px 3px 3px 0px grey; 
    position: relative;

               
}

.container-logo{
    margin: auto;
    text-align: center;

}

.container-icone-logo{
    display: flex;
    align-items: center;
    
}

.logo{
    margin: 15px;
    
}
    
.ville{
    display: block;
    width: 100%;
    text-align: center;
    background-color: whitesmoke;
    padding: 20px;

}

.paris{
    opacity: 60%;
    font-size: 16px;
    
    
}
.container-position{
    display: flex;
    align-items: center;
    text-align: center;
}
      
main {
    text-align: center;
          
} 
.div-reserver-menu{
    margin-top: 10%;
   
  
}

.reserver-menu{
    font-size: 12px;
    line-height: 35px;
    margin-bottom: 6%;
}
.exceptions{
    opacity: 60%;
    font-size: 16px;
    margin-bottom: 6%;
      
}

button {
    font-size: 12px;
    color: azure;
    font-family: "Roboto" 300;
    background: linear-gradient(#FF97DA, #9356DC);
    border-radius: 10rem;
    margin-top: 5px;   
    box-shadow: 2px 2px 2px 2px;
    border: none;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 4%;
    padding-bottom: 4%;
    cursor: pointer;
  }
  
  button:hover {
      background: #eb7af5
    }
  
  button:active {
    box-shadow: 2px 2px 2px 2px;
    transform: translateY(4px);
  }

.description{
    box-shadow: 2px 2px 2px 2px rgb(170, 170, 170);
    background-color: white;
    border-radius: 14px;
    width: 90%;
    margin-top: 20px;
    margin-left: 20px;
    text-align: justify;
        
}
.name-city{
    font-size: 16px;
    margin-left: 1px;
}
h5{
    font-size: 12px;
    margin-left: 6px;
}

.carte-entiere{
    background-color: white
    
}


.fonction {
    text-align: left;
    font-size: 18px;
    padding: 2rem 0rem 1rem 1rem;
}
.chiffre{
    font-size: 18px;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    text-align: center;
    background-color: #9356DC;
    padding-top: 5px;
    position: relative;
    right: 10px;
    color: white;
}


.choix{
    background-color: #f6f6f6;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   ;
    border-radius: 10px;
    box-shadow: 3px 3px 3px 3px gainsboro;
    font-size: 20px;   
    margin-top: 14px;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    margin-right: 20px;
    margin-bottom: 6%;
    align-items: center;
    
    
}
.choix3{
    
    font-size: 14px;
    font-weight: bold;
    
            
}
.resto{
    text-align: left;
    font-size: 16px;
    padding: 5rem 1rem 1rem 1rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: -8%;
         
}

.blanc-gris{
    background: linear-gradient(white, rgb(245, 245, 245));
    padding-bottom: 50px;
}

.reserver-menu{
    font-size: 30px;
}

.card-resto{
    width: 100%;
    box-shadow: 2px 2px 2px 2px rgb(211, 211, 211);
    border-radius: 14px;
    position: center;
    margin-top: 1rem;
    padding-bottom: 14px;
            
}

.card-nom{
    margin-left: 10px;
    line-height: 20px;
    margin-top: 10px;
    color: black;
}

.image-resto{
    width: 100%;
    height: 140px;  
    border-radius: 8px 8px 0px 0px;  
    position: center;
    object-fit: cover;
      
}
   
.titre{
    font-size: 14px;
    font-family: "Shrikhand", cursive;   
    margin-top: 6%;
    padding-top: 1rem;
    padding-bottom: 1rem;
  
}

.condition{
    background-color: rgb(46, 45, 45)
    
}

.point{
    list-style: none;
    color: #f6f6f6;
    line-height: 20px;
    font-size: 12px;
    padding-bottom: 1rem;
    margin-left: 0%;
}

a{
   text-decoration: none;
}

.icone-coeur{
    margin-left: 300px;
    font-size:medium;

}
.titre-resto{
    text-align: left;
    margin-top: 26px;
    margin-left: 22px;
    font-size: 10px;
    font-family: "Shrikhand", cursive;  
}
.debut-entree{ 
    text-align: left;
    margin-top: 22px;
    margin-left: 22px;
    opacity: 60%;
}   
.debut-plat{
    text-align: left;
    margin-top: 22px;
    margin-left: 22px;
    opacity: 60%;
    
}
.debut-dessert{
    text-align: left;
    margin-top: 22px;
    margin-left: 22px;
    opacity: 60%;
}
.transition1{
    margin-top: 40px;
    margin-bottom: 70px;
}

.debut-menu{
    padding-top: 5px;
    font-size: 18px;
    margin-bottom: 15px;
    margin-top: 10px;
}
.descri-menu{
    font-size: 14px;
    margin-left: 6px;
}

.prix-droite{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 15px;
         
}

.prix{
    margin-left: 0%;
}