
.aaa{
    animation: 600ms ease 0ms 1;

}


    .check{
    background-color: #99e2d0;
    margin: 1rem 1rem -1rem 1rem;
    width: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: .5s;

    }

    .check_check{
        height: 1.6rem;
        width: 1.6rem;
        background-color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 100px;
        transform: rotate(180deg);
        transition-duration: .5s;
    }
   

