
.icone_fleche{
    margin-left: 22px;
    color: black;
}

.icone_coeur{
    margin-left: 85%;
    font-size: x-large;
    opacity: 60%;
    
    
}

.icone_coeur_restau{
    font-size: x-large;
    opacity: 60%;
    margin-right: 25px;
}