@media only screen and (min-width: 801px){
    ol{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }

    .aaa{
        display: flex;
        justify-content: space-between;
    }
    
    .icone{
        padding-right: 10px;
        font-size: 18px;
    }

    .icone_position{
        font-size: 24px;

    }

    .button_top--rose{
        font-size: 26px;
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 2%;
        padding-bottom: 2%;

    }

    .paris{
        opacity: 60%;
        font-size: 28px;
                
    }
    .div_reserver_menu{
        margin-top: 10%;
        font-size: 42px;
      
    }
    
    .reserver_menu{
        line-height: 35px;
        margin-bottom: 6%;
        font-size: 42px;

    }

    .exceptions{
        opacity: 60%;
        font-size: 28px;
        margin-bottom: 6%;
          
    }
    .fonction{
        font-size: 24px;
        padding: 0%;
   }


   

    
    .choix3{
        font-size: 18px;
        font-weight: bold;
                
}
 

    .image_resto{
        box-shadow: 2px 2px 2px 2px;
        color: #f6f6f6;
    
    }
    .containers_resto{
        font-size: 28px;
        
    }
    .quatre_cartes{
        display: flex;
        justify-content: space-around;
        
    }
    h4{
        font-size: 18px;
    }

    .name_city{
        font-size: 18px;
        margin-left: 1px;
}
    .titre{
        font-size: 26px;
}
    .condition_point{
        font-size: 16px;
}
    .titre_resto{
        font-size: 22px;
        
}
    .debut_entree{
        font-size: 26px;
        width: 5%;
    }

    .debut_plat{
        font-size: 26px;
        width: 5%;
    }

    .debut_dessert{
        font-size: 26px;
        width: 6%;

    }
    .menu{
        width: 100%;
    }
    .menu_titre{
        font-size: 16px;

    }
    .menu_description{
        font-size: 14px;
    }
    .menu_prix{
        font-size: 14px;
    }
    .transition_button--rose{
        font-size: 26px;
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 2%;
        padding-bottom: 2%;

    }

    .card_resto{
        width: 45%;
    }

    .card_nom{
        line-height: 15px;
    }

    #ancre_restaurants{
        text-align: left;
        font-size: 16px;
        padding: 2rem 0rem 1rem 1rem;
        font-size: 24px;
    }


    
  }
  
  