@media only screen and (max-width: 799px) and (min-width: 500px){
    ol{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
       
    }

    .icone{
        padding-right: 10px;
        font-size: 22px;
    }
    
    .button_top_rose {
        font-size: 20px;
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 2%;
        padding-bottom: 2%;
        
    }
      
    .paris{
        opacity: 60%;
        font-size: 22px;
                
    }
    .div_reserver_menu{
        margin-top: 10%;
        font-size: 36px;
      
    }
    
    .reserver_menu{
        line-height: 35px;
        margin-bottom: 6%;
        font-size: 36px;
      
      
    }
    .exceptions{
        opacity: 60%;
        font-size: 22px;
        margin-bottom: 6%;
          
    }
    .fonction{
        font-size: 22px;
    }


    .choix3{
        font-size: 16px;
        font-weight: bold;
                
    } 


    .containers_resto{  
        font-size: 22px;
    }


    h3{
        margin-right: 77%;
    }


    .name_city{
        font-size: 22px;
        margin-left: 1px;
    }


    .titre{
        font-size: 20px;
    }

    

    .new{
        font-size: 18px
    }



    .condition_point{
        font-size: 16px;
    }



    .titre_resto{
        font-size: 16px;
    }


    .debut_entree{
        font-size: 16px;
        width: 6%;
    }


    .debut_plat{
        font-size: 16px;
        width: 7%;
    }

    .debut_dessert{
        font-size: 16px;
        width: 8%;
    }

    
    .menu_titre{
        font-size: 16px;
       
    }

    .menu_description{
        font-size: 14px;
        
    }

    .menu_prix{
        font-size: 14px;
    }
    
    .transition_button_rose{
        font-size: 20px;
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 2%;
        padding-bottom: 2%;

    }
    

  }


