.menu{
    
    width: auto;
    box-shadow: 3px 3px 3px 3px #eee;
    background-color: white;
    border-radius: 10px;
    margin-top: 12px;
    margin-left: 20px;
    margin-right: 6px;
    text-align: initial;
    padding-top: 0px;
    padding-bottom: 0px;
    animation: menu 5s;
    display: flex;
    justify-content: space-between;
    
    
        
}

.menu_prix_check{
    display: flex;
    position: relative;
    left: 45px;
}

.menu_prix_check:hover{
    left: 0px;
    transition: all 600ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}


.name_city{
    font-size: 16px;
    margin-left: 1px;
}
h5{
    font-size: 12px;
    margin-left: 6px;
}

.carte_entiere{
    background-color: #f5f5f5;
    position: relative;
    width: 100%;
    height: 100%;
    margin-top: -20%;
    border-radius: 2rem 2rem 0rem 0rem;
}


.titre_resto{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    margin-top: 26px;
    margin-left: 22px;
    font-size: 10px;
    font-family: "Shrikhand", cursive; 
    padding-top: 20px; 
}


.fas {
    font-size: x-large;
    color: #f5f5f5;
}


.debut_entree{ 
    border-bottom: 4px solid #99E2D0;
    text-align: left;
    margin-top: 30px;
    margin-left: 22px;
    opacity: 60%;
    width: 11%;
}  

.debut_plat{
    border-bottom: 4px solid #99E2D0;
    text-align: left;
    margin-top: 30px;
    margin-left: 22px;
    opacity: 60%;
    width: 10%;
    
}
.debut_dessert{
    border-bottom: 4px solid #99E2D0;
    text-align: left;
    margin-top: 30px;
    margin-left: 22px;
    opacity: 60%;
    width: 12%;
}
.transition1{
    margin-top: 40px;
    margin-bottom: 0px;
}

.menu_titre{
    font-size: 14px;
    font-weight: bold;
   
}
.menu_description{
    font-size: 10px;
    margin-left: 6px;
    
    
}

.menu_prix{
    cursor: pointer;
    font-size: 12px;
    display: flex;
    align-items: center;

}



.menu_description_prix{
   display: flex;
   
            
}


.menu_entier{
    display: flex;
    align-items: baseline;
    margin-top: -26px;
    margin-bottom: -3%;
    cursor: pointer;
    text-overflow: ellipsis;
    animation: 1s ease-out;


}


.image_carte{
    position: absolute;
    z-index: 1;
}
 











