.menu{
    width: auto;
    box-shadow: 3px 3px 3px 3px #eee;
    background-color: white;
    border-radius: 10px;
    margin-top: 18px;
    margin-left: 19px;
    margin-right: 18px;
    text-align: initial;
    animation: menu 3s;
    transition-duration: 1000ms;
    display: flex;
    justify-content: space-between;
    overflow: clip;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-rendering: auto; 
    
        
}

.menu_prix_check{
    cursor: pointer;
    transition: 0,8s ease-in-out;
    display: flex;
    position: relative;
    left: 36px;
}

.menu_prix_check:hover{
    left: 0px;
    transition: all 600ms cubic-bezier(0.55, 0.055, 0.675, 0.40);
}


.name_city{
    font-size: 16px;
    margin-left: 1px;
}
h5{
    font-size: 12px;
    margin-left: 6px;
}

.carte_entiere{
    background-color: #f5f5f5;
    position: relative;
    width: 100%;
    height: 100%;
    margin-top: -20%;
    border-radius: 2rem 2rem 0rem 0rem;
}


.titre_resto{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    margin-top: 26px;
    margin-left: 22px;
    font-size: 10px;
    font-family: "Shrikhand", cursive; 
    padding-top: 20px; 
}


.cercle{
    font-size: medium;
    color: #f5f5f5;
}


.debut_entree{ 
    border-bottom: 4px solid #99E2D0;
    text-align: left;
    margin-top: 30px;
    margin-left: 22px;
    opacity: 60%;
    width: 11%;
    
}  



.debut_plat{
    border-bottom: 4px solid #99E2D0;
    text-align: left;
    margin-top: 30px;
    margin-left: 22px;
    opacity: 60%;
    width: 10%;
    
}
.debut_dessert{
    border-bottom: 4px solid #99E2D0;
    text-align: left;
    margin-top: 30px;
    margin-left: 22px;
    opacity: 60%;
    width: 12%;
    
}


.transition1{
    margin-top: 40px;
    margin-bottom: 0px;
}

.menu_titre{
    
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
    margin-top: 5px;
    line-height: 15px;
    overflow: clip;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-rendering: auto;

}
.menu_description{
    cursor: pointer;
    font-size: 10px;
    margin-left: 6px;
    margin-bottom: 6px;
    margin-top: 6px;
    overflow: clip;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-rendering: auto;
}


.menu_prix{
    cursor: pointer;
    font-size: 12px;
    display: flex;
    align-items: flex-end;
    margin-right: 15px;
    margin-bottom: 5px;
    overflow: clip;
    text-overflow: ellipsis;
    white-space: nowrap;
}


.menu_description_prix{
   display: flex;
               
}


.image_carte{
    position: absolute;
    z-index: 1;
}
 











