.titre{
    font-size: 14px;
    font-family: "Shrikhand", cursive;   
    margin-top: 1%;
    padding-top: 1%;
    padding-bottom: 4%;
  
}

.condition{
    padding-top: 10px;
    background-color: rgb(46, 45, 45)
    
}

.condition_point{
    list-style: none;
    color: #f6f6f6;
    line-height: 20px;
    font-size: 12px;
    padding-bottom: 6%;
    margin-left: 0%;
}

a{
   text-decoration: none;
   
}.mail_contact{
    text-decoration: #f6f6f6;
}

